@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');


header ul li
{
    @apply px-3 py-1;
}
.font-header
{
    font-family:'Poppins',sans-serif;
}
.bg-profile
{
    color:white;
    background-color: #1f2229;;
    justify-content: center;
    font-family: 'Jura',sans-serif;
}
/* .background_color_primary
{
    background: black;
} */

.mobile_responseive_navbar {
    @apply  fixed top-12 left-0  w-full h-1/4;
    background: black;
    justify-content: space-between

}

.mobile_responseive_navbar li
{
    @apply  w-full h-full text-center;
    justify-content: space-between;
    
}

.updateposts {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   .updateposts:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .updateposts:hover {
    color: #fff;
   }
   
   .updateposts:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .updateposts:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .updateposts:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }


   .deleteposts {
    --color: red;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   .deleteposts:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .deleteposts:hover {
    color: #fff;
   }
   
   .deleteposts:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .deleteposts:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .deleteposts:active:before {
    background: red;
    transition: background 0s;
   }




   .deletebuttonstyle {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .deletebuttonstyle, .deletebuttonstyle span {
    transition: 200ms;
   }
   
   .deletebuttonstyle .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .deletebuttonstyle .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .deletebuttonstyle svg {
    width: 15px;
    fill: #eee;
   }
   
   .deletebuttonstyle:hover {
    background: #ff3636;
   }
   
   .deletebuttonstyle:hover .text {
    color: transparent;
   }
   
   .deletebuttonstyle:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .deletebuttonstyle:focus {
    outline: none;
   }
   
   .deletebuttonstyle:active .icon svg {
    transform: scale(0.8);
   }